SetEnv PHPRC /home/romualdf/sandbox/lovende/php.ini
<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
SecFilterInheritance Off
</IfModule>
 <IfModule mod_rewrite.c>
 Options +FollowSymLinks
RewriteEngine On
RewriteBase /

	RewriteCond %{HTTP_HOST} ^lovende.com$ [NC]
    RewriteRule ^(.*)$ http://www.lovende.es/$1 [R=301,L]
    
    RewriteCond %{HTTP_HOST} ^sandbox.lovende.com$ [NC]
    RewriteCond %{REMOTE_ADDR} !^190.129.234.126 
    RewriteCond %{REMOTE_ADDR} !^200.58.92.6
    RewriteRule ^(.*)$ http://www.lovende.es/$1 [R=301,L]
 
    RewriteCond %{HTTP_HOST} ^sandbox.lovende.nakoko.com$ [NC]
    RewriteCond %{REMOTE_ADDR} !^190.129.234.126 
    RewriteCond %{REMOTE_ADDR} !^200.58.92.6
    RewriteRule ^(.*)$ http://www.lovende.es/$1 [R=301,L]
    
    RewriteCond %{REQUEST_URI} ^kernel.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    RewriteCond %{REQUEST_URI} ^apps.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
